.w-prev {
    height: auto;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.w-prev::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/srmap-paari.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(4px) brightness(25%); */
    z-index: -1; 
}

.w-prev h1{
    margin: 0;
    padding: 20px 0 40px 0;
    text-align: center;
    font-size: 40px;
    color:rgb(0, 0, 0);
    font-weight: normal;
}

.outpasses{
    display: grid;
    gap: 10px;
    justify-content: center;
}